/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: "Noto Sans Japanese";
}

a.brand-logo {
  font-size: 20pt;
}

h1.header {
  font-size: 40pt;
  font-weight: bold;
  text-shadow: 0 0 3px #4e4e4e;
}

h5.header {
  font-size: 16pt;
  text-shadow: 0 0 3px #4e4e4e;
}

div.icon-block h5 {
  font-size: 13pt;
  font-weight: bold;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo-img img {
  width: 60px;
  height: 60px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
